<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <%- include('partials/_header.ejs') %>
    <h2>List of all the urls in url Database</h2>
    <% for (let shortURL in urls){ %>
    <h3>For the Website: <%=urls[shortURL]%></h3>
    <p>We can use the shortened url: <%=shortURL %></p>
    <form method="POST" action="/urls/<%= shortURL %>/delete">
      <input type="submit" value="DELETE THIS ITEM">
    </form>

    <form method='GET' action='/urls/<%= shortURL %>'>
      <input type='submit' value='edit'>
    </form>

    <form method='GET' action='/u/<%=shortURL %>' >
      <input type='submit' value='Go To Page'>
    </form>

    <% } %>

    <h1>   </h1>
    <form method='GET' action='/urls/new'>
      <input type='submit' value='Add New'>
    </form>


</body>
</html>